.body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.App {
  padding-left: 50px;
}

.h2 {
  color: white;
  font-size: 20px;
  margin: 20px 0;
}

.images-container {
  display: flex;
  /* overflow: hidden; */
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.images-container::-webkit-scrollbar {
  display: none;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.movies-list {
  display: flex;
  /* scroll horizontal */

  overflow: auto;
  white-space: nowrap;
  
}

.movies-list img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.movies-list img:hover {
  background-color: #777;
}

.container {
  margin: 0 0 40px 50px;
}
